<!DOCTYPE html>
<html>
<head>
	<title>widget ctrl</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/js/widgetctrl.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>  
    .row.content {height: 550px}
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
 </style>
</head>
<body ng-app="widgetapp"  ng-controller="widgetctrl">
<nav class="navbar navbar-default">
  <div class="dropdown" >
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" >Widgets
    <span class="caret" ></span></button>
    <div  class="dropdown-menu" >
     	<li ng-repeat="x in dropdown" >
     		<div ng-if="x.enable == true">
     			<label><input type="checkbox" ng-click="closecheck($index,x.id,x.enable)" checked="checked">{{ x.widget_name}}</label>
     		</div>
     		<div ng-if="x.enable == false">
     			<label><input type="checkbox" ng-click="closecheck($index,x.id,x.enable)">{{ x.widget_name}}</label>
     		</div>
     	</li>
	</div>
  </div>
</nav>
<div class="container-fluid">
  	<div class="row content">  
    	<div class="col-sm-12">
      		<div class="row">
      			<div>
      				<div class="col-sm-6" ng-repeat="x in widgetdata">
      					<div ng-hide="myVar">
							<div class="well">
								<div>
									<button type="button" class="glyphicon glyphicon-remove-sign" ng-click="close($index,x.id)" style="float:right;"></button>
								</div>
				  				<div>
				  					<h3><center>{{x.widget_name}}</center></h3>
				  					<div ng-if="x.widget_name == 'Widget 1'">
				  						<div id="widget1">
										</div>
				  					</div>
				  					<div ng-if="x.widget_name == 'Widget 2'">
				  						<table class="table table-striped">
										    <thead>
										      <tr>
										        <th>S.no</th>
										        <th>Laptop Name</th>
										        <th>Users</th>
										      </tr>
										    </thead>
										    <tbody>
												<tr ng-repeat=" x in userdata">
													<td>{{ $index + 1 }}</td>
													<td>{{ x.product_name }}</td>
													<td>{{ x.count }}</td>
												</tr>
											</tbody>
							  			</table>
				  					</div>
				  					<div ng-if="x.widget_name == 'Widget 3'">
				  						<div id="widget2">
										</div>
				  					</div>
				  					<div ng-if="x.widget_name == 'Widget 4'">
				  						<table class="table table-striped">
										    <thead>
										      <tr>
										        <th>S.no</th>
										        <th>City</th>
										        <th>Temperature</th>
										      </tr>
										    </thead>
										    <tbody>
												<tr ng-repeat=" x in temp_data">
													<td>{{ $index + 1 }}</td>
													<td>{{ x.city_name }}</td>
													<td>{{ x.temprature }}</td>
												</tr>
											</tbody>
				  						</table>
				  					</div>
				  				</div>
							</div>
						</div>
					</div>		
				</div>
    		</div>
    	</div>
	</div>
</div>
</body>
</html>