<!DOCTYPE html>
<html>
<head>
	<title>widget ctrl</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link href="css/style.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/widgetctrl.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/2.1.0/angular-datatables.js"></script>

</head>
<body ng-app="widgetapp"  ng-controller="widgetctrl">
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button class="dropbtn" href="#">Niyata</button>
	</div>
	<div>
		<button class="fa fa-sign-out dropbtn" href="#" style="float: right;">Logout</button>
 	</div>
	<div class="dropdown">
	  	<button class="dropbtn">Widgets</button>
	  	<div class="dropdown-content">
	    	<div ng-repeat="x in dropdown" >
     			<div ng-if="x.enable == true">
     				<center><label><input type="checkbox" ng-click="closecheck($index,x.id,x.enable)" checked="checked">{{ x.widget_name}}<hr></label></center>
     			</div>
     			<div ng-if="x.enable == false">
     				<center><label><input type="checkbox" ng-click="closecheck($index,x.id,x.enable)">{{ x.widget_name}}<hr></label></center>
     			</div>
     		</div>
	  	</div>
	</div>
</nav>
<div class="container-fluid">
  	<div class="row content">  
    	<div class="col-sm-12">
      		<div class="row">
      			<div>
      				<div class="col-sm-6" ng-repeat="x in widgetdata">
      					<div ng-hide="myVar">
							<div class="well">
								<div>
									<a  class="glyphicon glyphicon-remove-sign" ng-click="close($index,x.id)" style="float:right;"></a>
								</div>
				  				<div>
				  					<h3><center>{{x.widget_name}}</center></h3>
				  					<div ng-if="x.widget_name == 'Widget 1'">
				  						<div id="widget1">
										</div>
				  					</div>
				  					<div ng-if="x.widget_name == 'Widget 2'">
				  						<div id="widget2">
										</div>
				  					</div>
				  					<div ng-if="x.widget_name == 'Widget 3'">
				  						<table class="table table-striped" datatable="ng">
										    <thead>
										      <tr>
										        <th>S.no</th>
										        <th>Laptop Name</th>
										        <th>Users</th>
										      </tr>
										    </thead>
										    <tbody>
												<tr ng-repeat=" x in userdata">
													<td>{{ $index + 1 }}</td>
													<td>{{ x.product_name }}</td>
													<td>{{ x.count }}</td>
												</tr>
											</tbody>
							  			</table>
				  					</div>
				  					<div ng-if="x.widget_name == 'Widget 4'">
				  						<table class="table table-striped" datatable="ng">
										    <thead>
										      <tr>
										        <th>S.no</th>
										        <th>City</th>
										        <th>Temperature</th>
										      </tr>
										    </thead>
										    <tbody>
												<tr ng-repeat=" x in temp_data">
													<td>{{ $index + 1 }}</td>
													<td>{{ x.city_name }}</td>
													<td>{{ x.temprature }}</td>
												</tr>
											</tbody>
				  						</table>
				  					</div>
				  				</div>
							</div>
						</div>
					</div>		
				</div>
    		</div>
    	</div>
	</div>
</div>
</body>
</html>